body {
    margin: auto 10%;
    padding: auto;
}
/* header */
h1 {
    margin: 5px auto 5px;
}

span {
    color: #20A9E5;
}

small {
    font-size: 10px;
}

nav {
    height: 75px;
    background-color: #4EA0FF;
    background-image: url("../imgs/pattern.png");
    background-size: 315px auto;
}

.logo {
    width: 150px;
    height: auto;
    margin: 30px 5px;
}

p.grey {
    margin: 2px;
    font-size: 20px;
}

.grey {
    color: #808080;
}
/* /header */
/* body */
.timmagine { 
    margin-top: 20px;
    height: 300px;
}
/* tabella */
table{
    width: 100%;
    background-color: lightblue;
    border-collapse: collapse;
}

thead{
    background-color: #20A9E5;
    font-size: 14px;
    color: white;
}

th:last-child, td:last-child {
    width: 60%;
}

tr:nth-child(2){
    background-color: white;
}
/* /tabella */
/* footer */
h2 {
    font-size: 14px;
}

footer>div {
    width: 201;
    height: 132px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

#monitor {
    background-image: url("../imgs/monitor.jpg");
}

#graph {
    background-image: url("../imgs/graph.jpg");
}